@import "tailwindcss";

:root {
    --bg-background: #ede9e5;
    --bg-foreground: #242422;
}

@theme inline {
    --color-background: var(--bg-background);
    --color-foreground: var(--bg-foreground);
    --font-sans: var(--font-inter);
    --font-mono: var(--font-jetbrains-mono);
}

@layer base {
    body {
        @apply min-h-screen bg-background;
    }
}

@utility text-heading {
    @apply font-sans font-bold tracking-tight text-foreground;
}

@utility text-body {
    @apply font-mono font-light text-foreground;
}
